body {
    font-family: monospace;
    font-size: 16px;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    color: var(--color-fg);
    background-color: var(--color-bg);
    caret-color: var(--color-fg);
}

:root {
    --color-bg: #ffffff;
    --color-fg: #000000;
    --color-hl: #000000fe;
}

::selection {
    color: var(--color-bg);
    background-color: var(--color-hl);
}

:-webkit-any-link {
    color: var(--color-fg);
}

.borderless_form {
    border-style: hidden;
}:focus {
    outline: none;
}

.trigger {
    width: 80px;
    height: 80px;
    text-align: center;
    line-height: 80px;
    border-right: 1px solid var(--color-fg);
    cursor: pointer;
    overflow: hidden;
}

#toolbar {
    display: flex;
    width: 100%;
    height: 80px;
    color: var(--color-fg);
    background-color: var(--color-bg);
    border-bottom: 1px solid var(--color-fg);
    user-select: none;
    flex: 0px;
}

.fileSelect {
    float: right;
    width: 600px;
    height: 80px;
    background-color: var(--color-bg);
    cursor: pointer;
}

#configOptions {
    visibility: hidden;
    position: absolute;
    left: 240px;
    top: 80px;
    display: flex;
    flex: 0px;
    border-left: 1px solid var(--color-fg);
    border-bottom: 1px solid var(--color-fg);
    border-top: 1px solid var(--color-fg);
}

#dirList {
    position: fixed;
    top: 0px;
    right: 80px;
    width: 239px;
    height: 80px;
    border-left: 1px solid var(--color-fg);
}

#addLibFileContainer {
    position: fixed;
    top: 0px;
    right: 0px;
    overflow: hidden;
    width: 80px;
    height: 80px;
    border-left: 1px solid var(--color-fg);
}

#editor {
    display: inline-block;
    width: 100%;
    height: calc(100% - 80px);
    color: var(--color-fg);
    background-color: var(--color-bg);
}

#library {
    float: left;
    width: 279px;
    height: 100%;
    border-left: 1px solid var(--color-fg);
    user-select: none;
    padding-left: 10px;
    padding-right: 30px;
    overflow-x: hidden;
    overflow-y: scroll;
}

#openFromFileContainer {
    position: relative;
    top: 0px;
    z-index: 1;
    overflow: hidden;
    width: 80;
    height: 80px;
    background-color: transparent;
    border-right: 1px solid var(--color-fg);
}

#openFromFile {
    position: absolute;
    right: 0px;
    z-index: 1;
    width: 600px;
    height: 80px;
    background-color: transparent;
    cursor: pointer;
}

#openFromFileText {
    position: absolute;
    left: 80px;
    z-index: 0;
    width: 80px;
    height: 80px;
    text-align: center;
    line-height: 80px;
}

#textareaEntry {
    float: left;
    width: calc(100% - 320px);
    height: 100%;
    resize: none;
    border-style: hidden;
    font-size: 18px;
    color: var(--color-fg);
    background-color: var(--color-bg);
    padding: 5px;
    padding-left: 10px;
    padding-right: 30px;
}:focus {
    outline: none;
}

#dbBrowser {
    visibility: hidden;
    position: absolute;
    left: 0px;
    top: 81px;
    width: calc(100% - 320px);
    height: calc(100% - 81px);
    display: flex;
    flex: 0px;
    background-color: var(--color-bg);
}

#spacer {
    position: absolute;
    bottom: 0px;
    right: 0px;
}

::-webkit-scrollbar {
    width: 20px;
}

::-webkit-scrollbar-track {
    background: var(--color-bg);
}

::-webkit-scrollbar-thumb {
    background: var(--color-fg);
    border: 5px solid var(--color-bg);
}

::-webkit-scrollbar-thumb:hover {
    border: 3px solid var(--color-bg);
}