body {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}

textarea {
    background-color: #ffffff;
    color: #000000;
    font-family: monospace;
    font-size: 16px;
    border-style: hidden;
    resize: none;
    padding: 0px;
    line-height: 20px;
}

#textEntry {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 1000%;
    height: 100%;
    padding-top: 20px;
    padding-left: 300px;
    padding-bottom: 20px;
    overflow-y: scroll;
    overflow-x: visible;
    overflow-wrap: normal;
    scrollbar-width: none;
    cursor: default;
}

#textEntry:focus {
    outline: none;
}

#definition {
    position: absolute;
    left: 20px;
    top: 20px;
    width: 180px;
    height: 40px;
    overflow-y: none;
    overflow-x: none;
    overflow-wrap: normal;
    cursor: pointer;
}

#definition:focus {
    outline: none;
    text-decoration: underline;
}

#definition:hover {
    text-decoration: underline;
}

::selection {
    background-color: #00000000;
}